


<h1>About Me</h1>

<p>Hi!  My name is Colin O'Neill and I am a software engineer of just over seven years.  I hail from Williamstown Massachusetts attended Massachusetts College of Liberal Arts and graduated with a Computer Science bachelor's degree.</p>

<p>My work experience has been primarily in the .NET ecosystem, first in ag banking around the Springfield - Hartford corridor of MA/CT, then in hospitality in Spokane WA.</p>

<p>We made the move to Spokane in May of 2017 and had a really amazing road trip across the US following I-90.  After our overnight stay with my grandfather in Ohio our stops farther west included:</p>
<ul>
     
    <li>Madison and the Wisconsin Dells</li>
    <li>A few nights around Rapid City so we could take in the South Dakota sights</li>
    <ul>
        <li>Camp and hike in Badlands NP</li>
        <li>Mount Rushmore Ntl Memorial</li>
        <li>Wind Cave NP</li>
        <li>Crazy Horse Monument</li>
        <li>The Needles and Black Hills</li>
    </ul>    
    <li>Devil's Tower Ntl Monument on our way through the corner of Wyoming</li>
    <li>A overnight in Bozeman with a friend</li>
    <li>A pit stop in Missoula to</li>
    <ul>
        <li>Hike the M at the University of Montana</li>
        <li>Sample Kettlehouse Brewing Co's locally reknowned 'Cold Smoke' scotch ale</li>    
    </ul>
</ul>

<p>Within a few weeks of moving to Spokane my wife and I decided to rescue a dog from <a href="https://www.spokanecounty.org/567/SCRAPS---Regional-Animal-Protection">Spokane County Regional Animal Protection Services</a> (SCRAPS).  We are very proud to have rescued our pup and given him a new lease on a better life!</p>

<img src="../../assets/images/qman.jpg" height="300" width="450">



<!-- <div class="play-container">
  <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You said: </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">

    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div> -->